
.post {
    margin-top: 20px;
}

.post-container {
    border: 1px solid #dee0e1;
    background-color: #ffffff;
    font-size: 16px;
    max-width: 568px;
    border-radius: 4px; 
    margin: 0 0 8px; 
}

.post-top {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 16px 16px 0;
    margin-bottom: 10px;

}
.profile-img-div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-info {
    text-align: left;
}

.profile-img-div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.profile-name {
    font-size: 16px;
    font-weight: 500;
}

.profile-about {
    font-size: 14px;
    font-weight: 400;
}

.post-bottom {
    display: flex;
    padding: 0 16px 16px;
    align-items: center;
}

.post-middle {
    /* width: 100%; */
    margin: 5px 0 10px 0;
}
.post-middle img {
    width: 100%;
}

.up-down-vote-div {
    display: flex;
    background-color: #f1f2f2;
    margin: 0 14px 0 14px;
    /* padding: 0 16px 16px; */
}