
.q-position-fixed {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    min-height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 6px -1px rgb(0 0 0 / 4%);
}

.q-width-1072 {
    box-sizing: border-box;
    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* width: 100%; */
    /* border-bottom-width: 1px; */
    /* border-bottom: 1px solid #dee0e1; */

}

.logo {
    /* display: flex; */
    width: 100px;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

.logo img {
    width: 100%;
}
.nav-icons-cntainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    /* margin-left: 5px;
    margin-right: 5px; */
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    width: 47px;
    height: 50px;
    text-align: center;
    /* justify-content: space-around; */
}

.nav-icons:hover {
    background-color: #f1f2f2;
}

.activeLink a {
    color: #b92b27 !important;
    /* border-bottom: 3px solid #b92b27; */
}

.activeLink + div {
    background-color: #b92b27;
}

.nav-link-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #636466;
}

.link-icon-svg {
    color: #636466;
}

.link-div a {
    text-decoration: none;
    /* color: #000; */
}

.add-question-div {
    display: flex;
    margin-left: 10px;
}

.icon-bottom-div {
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    /* background-color: #b92b27; */
}

.input-box {
    display: flex;
    border-color: #dee0e1 !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    padding: 5px;
}

.input-box-inner {
    display: flex;   
}

.search-icon-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.q-input {
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
    min-height: 26px;
    height: unset;
    outline: none;
    border: none;
}

.quora-plus {
    box-sizing: border-box;
    border: 1px solid #dee0e1;
    border-radius: 20px;
    min-height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quora-plus-inner {
    padding-left: 8px;
    padding-right: 8px;
}

.quora-plus:hover {
    background-color: #f1f2f2;
}

.nav-profile-div, .nav-globe {
    display: flex;
    /* width: 100%;
    height: 100%; */
    justify-content: space-around;
    align-items: center;
}

.add-question-div {
    box-sizing: border-box;
    border-radius: 24px;
    position: relative;
   
}

.add-question-inner {
    display: inline-flex;
    background-color: #b92b27;
    border-radius: 24px !important;
    justify-items: center;
}

.add-ques-separator {
    box-sizing: border-box;
    border-color: rgb(164, 38, 35);
    height: 30px;
    border-right: 1px;
}
.add-ques-btn {
    height: 30px;
    min-width: 30px;
    padding: 0 10px;
    position: relative;
    border-width: 0;
    outline: none;
    background-color: #b92b27;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}

.aq-bn-left {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.aq-btn-right {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.add-ques-btn:hover {
    background-color: #850c08;
}


/* css for question box modal */
.q-box-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.question-post-box {
    margin: 10px;
    padding: 10px;
    width: 420px;
    border: 1px solid rgb(117, 113, 113);
    background-color: #fff;
    border-radius: 4px;
}

.q-box-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee0e1;
}

.close-q-box {
    cursor: pointer;
}

.active-ques-div {
    border-bottom: 2px solid #3d67f6;
}

.q-add-ques {
    max-width: 142px;
    padding: 2px 16px 2px;
    cursor: pointer;
}

.q-create-post {
    max-width: 142px;
    padding: 2px 16px 2px;
    cursor: pointer;
}

.q-box-middle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.q-box-profile-n-share-with {
    display: flex;
    gap: 5px;
    align-items: center;
    /* padding-top: 8px;
    padding-bottom: 8px; */
}

.ques-hint {
    font-size: 14px;
    color: #636466;
    padding-bottom: 8px;
}

.q-box-bottom {
    display: flex;
    justify-content: flex-end;
}

.c-post-bottom {
    display: flex;
    justify-content: space-between;
}

.c-post-inner-div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #4c4e53;
}

.add-question-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d67f6 !important;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 22px;
    width: 85px;
    height: 26px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.cancel-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    height: 26px;
    width: 64px;
    border-radius: 22px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.cancel-btn-div:hover {
    background-color: #d4d4d4;
}

.ques-input-div {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #dee0e1;
    border-bottom: 1px solid #dee0e1;
}

.ques-input-area {
    box-sizing: border-box;
    width: 100%;
    border: none;

}

.ques-input-area:focus {
    outline: 0;
}