.post {
    margin-top: 20px;
}

.post-container {
    border: 1px solid #dee0e1;
    background-color: #ffffff;
    font-size: 16px;
    max-width: 568px;
    border-radius: 4px; 
    margin: 0 0 8px; 
}

.post-top {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 16px 16px 0;
    margin-bottom: 10px;
}

.profile-img-div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.follow-text {
    font-size: 13px;
    font-weight: 500;
    color: #2e69ff;
    cursor: pointer;
}

.follow-text:hover {
    text-decoration: underline;
}

.more {
    display: inline-block;
    color:#195faa;
    padding-left: 4px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgb(255 255 255 / 85%) -16px 0px 14px 6px !important;
}

.profile-info {
    text-align: left;
}

.profile-img-div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.profile-name {
    font-size: 16px;
    font-weight: 500;
}

.profile-about {
    font-size: 14px;
    font-weight: 400;
}

.post-middle {
    /* width: 100%; */
    margin: 5px 0 10px 0;
}

.post-middle img {
    width: 100%;
}

.post-bottom {
    display: flex;
    /* padding: 0 16px 16px; */
    /* justify-content: center;
    align-items: center; */
    padding-bottom: 8px;
}

.post-bottom-icons {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    padding-right: 8px;
}

.upvote-container {
    display: flex;
}

.up-down-vote-div {
    display: flex;
    gap: 5px;
    margin: 0 14px 0 14px;
}

.q-b-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}